<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="webspec server">
    <meta name="author" content="RobinQu">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <title><%= title %></title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Webspec</a>
            </div>
            
            <div class="collapse navbar-collapse" id="top-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li <% if(view === "dashboard") { %>
                  class="active"<% } %>>
                  <a href="/dashboard">Dashboard</a>
                </li>
                <li <% if(view === "suites") { %>
                  class="active"<% } %>>
                  <a href="/live">Suites</a>
                </li>
              </ul>
              <a href="/auth/login" class="btn btn-default navbar-btn navbar-right">Login/Register</a>
            </div>
      </div>
    </nav>
    
    <div class="container">
      <div class="jumbotron">
        <h1>WebSpec</h1>
        <p><%= __("Distributed, living spec runner") %></p>
        <p><a class="btn btn-primary btn-lg" role="button" href="introduction"><%= __("Learn more") %></a></p>
      </div>
      
      <div class="row">
        <div class="col-lg-4">
          <h2></h2>
        </div>
      </div>
      
    </div>

    <%- body %>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>