<table class="table">
  <thead>
    <tr>
      <th></th>
      <% _.forEach(browsers, function(value) { %>
        <th><%= value %></th>
      <% }) %>
    </tr>
  </thead>
  <tbody>
    <% _.forEach(rows, function(row, i) { %>
    <tr>
      <th>
        <%= commits[i].slice(0, 10) %>
      </th>
      <% row.forEach(function(cell) { %>
      <td>
        <span class="label label-info"><%= cell.all %> Runs</span>
        <span class="label label-success"><%= cell.ok %> Passed</span>
      </td>
      <% }) %>
    </tr>
    <% }) %>
  </tbody>
</table>