<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Jasmine Spec Runner v2.0.0</title>
  
  <link rel="stylesheet" type="text/css" href="/bower_components/components-jasmine/lib/jasmine-2.0.0/jasmine.css">
  <script type="text/javascript" src="/bower_components/components-jasmine/lib/jasmine-2.0.0/jasmine.js"></script>
  <script type="text/javascript" src="/bower_components/jasmine-jsreporter/jasmine-jsreporter.js"></script>
  <script type="text/javascript" src="/scripts/sandbox_reporter.js"></script>
  <script type="text/javascript" src="/scripts/sandbox_boot.js"></script>  
  <!-- include source files here... -->

  <!-- include spec files here... -->
  <% files.forEach(function(spec) { %>
    <script type="text/javascript" src="/repos/<%= sandbox.repo.name %>/<%= spec.path %>"></script>
  <% }) %>
</head>
<body data-report="<%= report %>">
</body>
</html>
