<div class="list-group">
  <% suites.forEach(function(suite) { %>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading"><%= suite.name %></h4>
    <p class="list-group-item-text">
      <span><%= __("Created by %s", suite.author.name) %></span>
      <span class="label label-info"><%= __("%s sources", suite.sources.length) %></span>
      <span class="label label-info"><%= suite.runner %></span>
    </p>
  </a>
  <% }) %>
</div>