<form action="/live/create" method="POST">
  <input type="text" name="filename" placeholder="Filename" />
  <input type="text" name="suite" placeholder="Suite Name" />
  <input type="text" name="author[name]" placeholder="Author Name" />
  <input type="email" name="author[email]" placeholder="Author email" />
  <textarea name="content" id="" cols="30" rows="10"></textarea>
  <button type="submit">Save</button>
</form>