Private suites for <%= currentUser.username %>

<a href="/live/suites/new">Create suite</a>
<ul>
  <% suites.forEach(function(suite) { %>
    <li><a href="/live/suites/<%= suite.name %>"><%= suite.name  %></a></li>
  <% }) %>
</ul>