<!DOCTYPE html>
<html>
  <head>
    <title>WebSpec home</title>
  </head>
  <body>
    <div>
      <a href="/create">Create a spec</a>
    </div>
    <div class="list">
      <ul>
        <li><a href="/repos/master">Public master test repo</a></li>
        <li><a href="/repos/w3c-tests">W3C platform test repo</a></li>
      </ul>
    </div>
  </body>
</html>