<input type="text" name="name" value="<%= suite.name %>" placeholder="Suite Name" />
<select name="runner" id="">
  <option value="jasmine">Jasmine</option>
</select>
<% if(suite.sources.length) { %>
<% suite.sources.forEach(function(source, i) { %>
  <input type="text" name="sources[<%= i %>]" value="<%= source %>" />
<% }) %>
<% } else { %>
  <input type="text" name="sources[]" value=""  placeholder="Source file" />
<% } %>