<form action="/live/suites/<%= suite.name %>" method="PUT">
  <legend>Update Suite <%= suite.name %></legend>
  <fieldset>
    <%- include _form %>
  </fieldset>
  <button type="submit">Save</button>
</form>

<form action="/live/suites/<%= suite.name %>" method="POST">
<input type="hidden" name="_method" value="DELETE" />
<button type="submit">Delete</button>
</form>