<div class="row">
  <div class="col-lg-12">
    <form action="/live/suites" method="POST">
      <fieldset>
        <legend>Create Suite</legend>
        <%- include _form %>
      </fieldset>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>