<input type="hidden" name="suite" value="<%= suite.name %>" />

<div class="form-group">
  <label for="contentTextarea"><%= __("Code") %></label>
  <textarea name="content" id="contentTextarea" cols="30" rows="10" class="form-control"><%= spec.content %></textarea>
</div>

<link rel="stylesheet" href="/bower_components/codemirror/lib/codemirror.css" />
<script type="text/javascript" src="/bower_components/codemirror/lib/codemirror.js"></script>
<script src="/bower_components/codemirror/mode/javascript/javascript.js"></script>
<script>
window.addEventListener("DOMContentLoaded", function() {
  CodeMirror.fromTextArea(document.getElementById("contentTextarea"), {
    mode: "javascript",
    tabSize: 2,
    indentUnit: 2,
    lineNumbers: true,
    fixedGutter: false,
    viewportMargin: 10,
    autofocus: true
  });
});
</script>