<form action="/live/suites/<%= suite %>/specs" method="POST">
  <input type="text" name="name" placeholder="Filename" value="spec.js" />
  <%- include _form %>
  <button type="submit">Save</button>
</form>