<% scriptTag("/scripts/sandbox/master.js") %>
<div class="sandbox-iframe">
  <% if(specs.length) { %>
  <iframe src="/sandboxes/<%= sandboxId %>" frameborder="0"></iframe>
  <% } %>
</div>
<div class="sandbox-results">
  
  <div class="progress progress-striped active loading">
    <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
      <%= __("Test Suites Running") %>
    </div>
  </div>
  
  
</div>